/node_modules
/public/hot
/storage/*.key
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package.json
package-lock.json
vendor/mercadopago/dx-php/.phpdoc/cache/descriptors/Y/E/xcu4EjX0DmDT7hywD7iA
public/images/admin
vendor/composer/platform_check.php
vendor/composer/platform_check.php
