.form-control {
    @apply shadow-sm border-gray-300 rounded-md;
}
.bg-blue-1 {
    /* background-color: rgb(53 53 157); */
    background-color: #1539af;
}

.thumbnail {
  @apply w-20 h-16 object-cover object-center h-1;
}

/* tooltip */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    font-size: 12px;
    top: 40px;
    left: -50px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* scrollbar */
body::-webkit-scrollbar, .overflow-y-scroll::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track, .overflow-y-scroll::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb, .overflow-y-scroll::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid white;  /* creates padding around scroll thumb */
  }

  .blur{
      filter: opacity(0.01);
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .parpadea {
  
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    90% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    90% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     90% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }


  /* rating stars */
  
  a[href*="intent"] {
    display:inline-block;
    margin-top: 0.4em;
  }

  /*  
   * Rating styles
   */
  .rating {
    margin: 0 auto 1em;
    font-size: 45px;
    overflow:hidden;
  }
  .rating a,
  .rating label {
    /* float:right; */
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
    @apply text-2xl md:text-4xl;
  }
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
  .rating .star:hover,
  .rating .star:hover ~ a,
  .rating .star:focus,
  .rating .star:focus ~ a		{
    @apply text-yellow-500;
    cursor: pointer;
  }
  .active-star {
    --tw-text-opacity: 1;
    color: rgba(245, 158, 11, var(--tw-text-opacity)) !important;
  }
  .rating2 {
    direction: rtl;
  }
  .rating2 a {
    float:none
  }